* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a75848;
  font-family: 'Merriweather', serif;
}

.nav-wrapper {
  background-color: #6f4037;
  font-family: 'Pacifico', cursive;
}

.slider .indicators .indicator-item.active {
  background-color: #6f4037;
}

.move {
  margin-top: 20px;
  margin-bottom: 20;
}

.parallax-container {
  min-height: 380px;
  height: auto;
}

.custom-btn {
  background: #6f4037 !important;
  margin-top: 10px;
}

.footer-one {
  background-color: #6f4037;
}

.footer-two {
  background-color: #462822;
  margin-bottom: 0 !important;
  margin: none !important;
}

.right {
  display: flex;
  justify-content: flex-end;
}