html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a75848;
  font-family: 'Merriweather', serif;
}

.nav-wrapper {
  background-color: #6f4037;
  font-family: 'Pacifico', cursive;
}

.slider .indicators .indicator-item.active {
  background-color: #6f4037;
}

.move {
  margin-top: 20px;
  margin-bottom: 20;
}

.parallax-container {
  min-height: 400px;
  height: auto;
}

.custom-btn {
  background: #6f4037 !important;
  margin-top: 10px;
}

.myabout {
  background-image: url('../images/banner3.jpg');
  padding: 25px;
  border-radius: 2;
  font-family: 'Bree Serif', serif;
}

.carousel .carousel-item {
  width: 200px;
  height: 300px;
}

.card-panel {
  margin: 0px !important;
}

.social-icons li a img {
  display: flex;
  justify-content: space-around;
}
